.accordion-list .accordion-item {
  border: 1px solid $border-color;
  border-radius: 38px;
  padding: 7px 15px 7px 10px;
  width: 100%;
  box-shadow: $box-shadow-accordion;
  font-family: $font-family;
  font-weight: 500;
  font-size: 16px;
  line-height: 117%;
  text-align: left;
  color: $black-color;
  background-color: $light-gray-color;
  transition: 0.4s;
  cursor: pointer;

  @include tablet {
    font-size: 20px;

    &--btn {
      font-size: 14px;
    }
  }

  @include small-tablet {
    font-size: 18px;

    &--btn {
      font-size: 14px;
    }
  }

  @include mobile {
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 16px;

    &--btn {
      padding: 12px 15px;
      font-size: 14px;
    }
  }
}

.accordion-list .accordion-item > .accordion-item__summary {
  padding: 0;
}

.accordion-list .accordion-item--open {
  border-radius: 20px;
}

.accordion-item__summary-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 117%;
}