.title {
  margin: 0;
  font-weight: 500;
  line-height: 115%;
  color: var(--black-color);

  &--h1 {
    font-size: 24px;

    @include tablet {
      font-size: 30px;
    }
  }

  &--h2 {
    font-size: 20px;

    @include tablet {
      font-size: 16px;
    }
  }

  &--h3 {
    font-size: 14px;

    @include tablet {
      font-size: 14px;
    }

    @include small-tablet {
      font-size: 12px;
    }
  }
}
